<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Homework Cars</h1>

    <label for="type">Type:</label>
    <select name="type" id="type">
        <option value="">choose type</option>
        <option value="SUV">SUV</option>
        <option value="Sedan">Sedan</option>
        <option value="Hatchback">Hatchback</option>
        <option value="Convertible">Convertible</option>
        <option value="Truck">Truck</option>
        <option value="Coupe">Coupe</option>
    </select>
    

    <label for="brand">Brand:</label>
    <select name="brand" id="brand">
        <option value="">choose brand</option>
        <option value="Volkswagen">Volkswagen</option>
        <option value="Toyota">Toyota</option>
        <option value="Ford">Ford</option>
        <option value="Bmw">BMW</option>
        <option value="Chevrolet">Chevrolet</option>
        <option value="Mercedes-benz">Mercedes-Benz</option>
        <option value="Honda">Honda</option>
        <option value="Nissan">Nissan</option>
        <option value="Hyundai">Hyundai</option>
        <option value="Mazda">Mazda</option>
        <option value="Ram">Ram</option>
        <option value="Audi">Audi</option>
        <option value="Kia">Kia</option>
        <option value="Subaru">Subaru</option>
        <option value="Fiat">Fiat</option>
    </select>

    <label for="model">Model:</label>
    <input type="text" id="model">

    <label for="doors">Doors:</label>
    <input type = "number" id="doors">

    <label for="gasType">Gas Type:</label>
    <select name="gasType" id="gasType">
        <option value="">choose gas type</option>
        <option value="Diesel">Diesel</option>
        <option value="Petrol">Petrol</option>
        <option value="Gasoline">Gasoline</option>
        <option value="Hybrid">Hybrid</option>
        <option value="Electric">Electric</option>
    </select>

    <label for="color">Color:</label>
    <input type="text" id="color">

    <label for="isNew">New/Old:</label>
    <label for="new">New</label>
    <input type="checkbox" id="new">
    <label for="old">Old</label>
    <input type="checkbox" id="old">

    <label for="horsepower">Horsepower:</label>
    <input type="number" id="horsepower">



    <button type="search" id="search">Search</button>
    <button type="reset" id="reset">Reset filters</button>
    <br>
    <br>
    <br>
    <div id="table"></div>



    <script src="../src/app.js"></script>
</body>
</html>